<p>
  register 
</p>

<ion-grid>
  <ion-row>
    <ion-col col-6>
      <form>
        <ion-item>
          <ion-input placeholder="Nombre" [(ngModel)]="Nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Apellido" [(ngModel)]="Apellido"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Correo" [(ngModel)]="correo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="password" type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Repeat password" type="password" [(ngModel)]="repass"></ion-input>
        </ion-item>
        <ion-button type="reset" color="danger">Borrar</ion-button>
          <ion-button *ngIf="nombre!=false"   type="reset" (click)=mensajelogin(nombre,apellido,corre,password,repass)>Enviar</ion-button>
        
      </form>
    </ion-col>
  </ion-row>
</ion-grid>
